.container {
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.list-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}